<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/a548432773.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="partials_header">
      <div class="header_container">
        <div class="header_flex">
          <div class="logo">
            <a href="/home"><h1>BookStore</h1></a>
          </div>
          <div class="flex">
            <div class="input_search">
              <input
                type="secrch"
                class="form-control input-form"
                placeholder="Secrch"
              />
              <i class="search-icon fas fa-search"></i>
            </div>

            <li class="nav-sub-menu">
              <a class="down-icon" href="#"
                >Select category <i class="fas-menu fas fa-angle-down"></i
              ></a>
              <div class="sub-menu-box">
                <ul class="sub-menu">
                  <% categories.forEach( category => { %>
                  <a href="/users/shopping/<%=category.name%>"
                    ><li><%=category.name%></li></a
                  >
                  <% })%>
                </ul>
              </div>
            </li>

            <div class="userName">
              <i class="userHeader user circle outline icon"></i>
              <p><%= userName%></p>
            </div>

            <div class="userName">
              <a href="/mycart">
                <div class="ui vertical animated button" tabindex="0">
                  <div class="hidden content">Go Cart</div>
                  <div class="visible content">
                    <i class="shop icon"></i>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/users/logout">
                <button type="button" class="btn btn-primary mr-1 my-1">
                  SignOut
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
