<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/a548432773.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="header">
      <div class="header_container">
        <div class="header_flex">
          <div class="logo">
            <a href="/home"><h1>Admin</h1></a>
          </div>
          <div class="flex">
            <div class="input_search">
              <input
                type="search"
                class="form-control input-form"
                placeholder="Search here..."
              />
              <i class="search-icon fas fa-search"></i>
            </div>
            <div>
              <a href="/users/logout">
                <button type="button" class="btn btn-primary mr-1 my-1">
                  Logout
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <a href="/admin/createCategory">
      <button type="button" class="btn btn-primary mr-1 my-1">
        Add Category
      </button>
    </a>
    <div>
      <% category.filter( category => { %>
          <%= category.name%>
      <% }) %>
    </div>
  </body>
</html>
