<%- include("partials/adminHeader.ejs") -%>

<div>
  <% users.forEach( user => { %>
  <p><%=user.name%></p>
  <% if(!user.isblock){%>

    <a href="/admin/users/<%=user.id%>/block">Block</a>
    <%}%>

    <% if(user.isblock){%>
    
      <a href="/admin/users/<%=user.id%>/unblock">Unblock</a>
      <%}%>
  <% }) %>
</div>
