<%- include("partials/header.ejs") -%>
<form action="" method="POST" enctype="multipart/form-data">
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="authore" placeholder="Authore" />
  <input type="text" name="category" placeholder="Category" />
  <input type="text" name="detail" placeholder="Detail" />
  <input type="text" name="price" placeholder="Price" />
  <input type="text" name="publisher" placeholder="Publisher" />
  <input type="text" name="stock" placeholder="Stock" />
  <input type="file" name="image" />
  <input type="submit" value="Add Book" />
</form>

<a href="/admin">
  <button type="button" class="btn btn-primary mr-1 my-1">
    Admin Home
  </button>
</a>
