<%- include("partials/header.ejs") -%>

<form action="/admin/<%=category.id %>/edit" method="POST" enctype="multipart/form-data">
  <input type="text" name="name" value="<%= category.name%>" />
  <input type="file" value="<%= category.image%>">
  <input type="submit" value="Add" />
</form>

<a href="/admin">
  <button type="button" class="btn btn-primary mr-1 my-1">
    Admin Home
  </button>
</a>
