<form
id="form"
action=""
method="POST"
>
<input
  class="reviewInput"
  type="text"
  name="content"
  placeholder="Write a Review"
  value="<%=review.content%>"
/>
<button type="submit">Update</button>
</form>