<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/a548432773.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="css-1_header">
      <div class="css-1_container">
        <div class="css-1_flex">
          <div class="logo">
            <a href="/users/home">BookStore</a>
          </div>
          <div class="flex">
            <div class="input_search">
              <input type="secrch" class="form-control" placeholder="Secrch" />
            </div>
            <div>
              <button type="button" class="btn btn-primary mr-1 my-1">
                Login
              </button>
              <button type="button" class="btn btn-primary mr-1 my-1">
                Signup
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
