<%- include("partials/header.ejs") -%>

<div class="form-container">
  <div class="form-heading">
    <h2>Sign In</h2>
  </div>
  <form class="ui form" action="/users/login" method="POST">
    <div class="field">
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div class="field">
      <input type="password" name="password" placeholder="Password" />
    </div>
    <input class="ui button" type="submit" value="Log In" />
  </form>
  <div class="form-footer">
    <h3>Don't have an account?</h3>
    <a href="/users/register"> Sign Up Now</a>
  </div>
</div>
