<%- include("partials/logoutHeader.ejs") -%>

<div class="form-container">
  <div class="form-heading">
    <h2>Write a Review</h2>
  </div>
  <form class="ui form" action="" method="POST">
    <div class="field">
      <input type="text" name="review" placeholder="Write a Review" />
    </div>
    <input class="ui button" type="submit" value="Add Review" />
  </form>
</div>
