<%- include("partials/header.ejs") -%>

<h2>category</h2>
<% categories.forEach( category => { %>
<a href="#">
  <div class="card categoryCard" style="width: 18rem;">
    <img
      src="/images/<%= category.image%>"
      class="card-img-top"
      alt="bookCategory"
    />
    <div class="card-body">
      <p class="card-text">
        <%= category.name%>
      </p>
    </div>
  </div>
</a>
<% }) %>
