<%- include("partials/header.ejs") -%>

<form action="/users/<%=userInfo.id%>/verify" method="post">
  <input type="text" name="verification" placeholder="Enter verify code " />
  <input type="submit" value="submit" />
</form>
