<%- include("partials/logoutHeader.ejs") -%>

<div class="form-container">
  <div class="form-heading">
    <h2>Enter Verification code</h2>
  </div>
  <form class="ui form" action="/users/<%=userInfo.id%>/verify" method="post">
    <div class="field">
      <input type="text" name="verification" placeholder="Enter verify code " />
    </div>

    <input class="ui button" type="submit" value="submit" />
  </form>
</div>
