/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom css  */
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

li,
ul {
  list-style: none;
}
// header =========================
.header_flex {
  display: flex;
  justify-content: space-between;
}
.header_container {
  max-width: 90%;
  margin: 0 auto;
}

.partials_header {
  padding: 24px 0;
  background: #f1f1f1;
}
.logo {
  font-size: 28px;
  a:hover {
    text-decoration: none;
  }
}
.input_search {
  display: flex;
  position: relative;
  .input-form {
    width: 90%;
    padding-right: 35px;
  }
  .search-icon {
    position: absolute;
    right: 35px;
    opacity: 0.7;
    top: 10px;
  }
}

.flex {
  display: flex;
  justify-content: right;
  align-items: center;
}

.categoryCard {
  display: flex;
  margin-bottom: 34px;
}

.nav-sub-menu {
  margin-right: 30px;
}

.sub-menu {
  background: #E0E1E2;
  padding: 12px 32px;
  text-align: center;
  border-radius: 3px;

  li {
    display: block;
  }
  a {
    color: #11151c;
    line-height: 2;
  }
}
.sub-menu-box {
  display: none;
  position: absolute;
  left: 50;
  padding-top: 65px;
  top: 0;
  transform: translateX(-70%);
  z-index: 99;
}
.nav-sub-menu:hover .sub-menu-box {
  display: inline-block;
}

.userName {
  margin-right: 24px;
  display: flex;

  p {
    font-size: 16px;
    font-weight: 600;
  }
 .userHeader  {
    font-size: 16px;
  }
}
// user home page
.flex-card {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.home-hero {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 247, 255, 0.698),
      rgba(214, 239, 255, 0.671)
    ),
    url(../images/bg2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: rgb(36, 35, 35);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
  .heading-primary-main {
    display: block;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 10px;
    line-height: 1.7;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btns:link,
.btns:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn-white {
  color: #777777;
  background: #fff;
  font-weight: 400;
}

.btns:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btns:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btns::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background: #fff;
}

.btns:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

// all form ======= alll form
.form-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 3rem 2rem;
  .form-heading {
    color: #157af6;
    text-align: center;
    padding-bottom: 24px;
    h2 {
      font-size: 26px;
    }
  }
  .form-footer {
    padding-top: 24px;
    text-align: center;
    h3 {
      font-size: 22px;
    }
    a {
      font-size: 20px;
    }
  }
}
.choose-file {
  cursor: pointer;
}

// single book detail
.bookDetailheading {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 28px;
  color: #157af6;
  text-align: center;
}
.bookdetailflex {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  .rightbookdetail {
    width: 40%;
  }
  .leftbookdetail {
    width: 40%;
  }
}
