/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom css  */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_container {
  max-width: 90%;
  margin: 0 auto;
}

.partials_header {
  padding: 24px 0;
  background: #f1f1f1;
}

.logo {
  font-size: 28px;
}

.logo a:hover {
  text-decoration: none;
}

.input_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.input_search .input-form {
  width: 90%;
  padding-right: 35px;
}

.input_search .search-icon {
  position: absolute;
  right: 35px;
  opacity: 0.7;
  top: 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.userHome {
  padding-top: 4rem;
}

.userHome h2 {
  font-size: 44px;
  color: #464444;
  text-align: center;
}

.flex-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 3rem 2rem;
}

.form-container .form-heading {
  color: #157af6;
  text-align: center;
  padding-bottom: 24px;
}

.form-container .form-heading h2 {
  font-size: 26px;
}

.form-container .form-footer {
  padding-top: 24px;
  text-align: center;
}

.form-container .form-footer h3 {
  font-size: 22px;
}

.form-container .form-footer a {
  font-size: 20px;
}

.choose-file {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */